.header{
        text-align: center;
        color: red;
        background: linear-gradient(rgba(71, 211, 30, 1), rgba(211, 60, 41, 0)), url(images/donation1.jpg);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;


        }

