.header{
        text-align: center;
        color: red;
        background: linear-gradient(to right, rgba(22, 252, 133, 0.7), rgba(210, 19, 93, 0.7)),
        url('images/donation0.jpg');
        background-size: cover;
        height: 500px;
        
        }