.header{
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        background: linear-gradient(to right, rgba(26, 244, 131, 0.7), rgba(237, 11, 7, 0.7)),
        url('images/donation0.jpg');
        background-size: cover;
        height: 500px;
        }
h2{
        font-size: 45px;
        font-family: Arial, Helvetica, sans-serif;
}
       
p       {
        font-size: 25px;

        }

.btn    {
        font-size: 25px;
        font-weight: 700;
        padding: 25px;
        margin: 5px;
        color: white;
        background-color: rgb(255, 64, 0);
        border-radius: 10px;
        }
.donate-today{
        text-align: center;
        align-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: 700;
       
        }

hr      {
        width: 950px;
        }
h4      {
        font-size: 25px;
}
ul     {
        text-decoration: none;   
        display: flex;
        list-style: none;  
        justify-content:space-around;
        margin: 0 420px 0 420px ;
        width: 1000px;
        }
li      {
        background-color: #f6f4f3;
        margin: 50px 5px 50px 5px;
        padding: 50px 10px 50px 10px;
        border-radius: 5px;
        }

h1      {
        font-size: 100px;
        
        }
.our-donation-plan{
        text-align: center;
        
        
        } 

.donation-container{
        display: flex;
        gap: 30px;
        margin: 80px 200px 30px 200px;
        text-align: left;
        

}

.donation-plan1{
        background-color: bisque;
        padding: 50px;
        box-shadow: #fadfd2;
        box-sizing: border-box;
        border: solid;
        border-color: antiquewhite;
        border-radius: 5px;
}

.donation-plan2{
        background-color: rgb(179, 155, 126);
        padding: 50px;
        box-shadow: #8e8079;
        box-sizing: border-box;
        border: solid;
        border-color: antiquewhite;
        border-radius: 5px;
}

.donation-plan3{
        background-color: rgb(241, 166, 73);
        padding: 50px;
        box-shadow: #604335;
        box-sizing: border-box;
        border: solid;
        border-color: antiquewhite;
        border-radius: 5px;
        }

.lives-survive h2{
        font-size: 50px;
        }
.lives{
        display: flex;
        }

.survive{
        display: flex;

        }

.get-update{
        text-align: center;
        }

.footer{
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        background-color: black;
        color:aliceblue
        
        }

.footer h2{
        font-family: 'Lobster', cursive;;
        font-size: 50px;
        }